# 開発用env
PROFILE=develop

TOKEN=
CLIENT_ID=
PCCOM_ID=932529116400459786

# Web設定
WEB_PORT=3000
WEB_DOMAIN=http://localhost:3000
CLIENT_SECRET=

# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
SESSION_SECRET=

# OAuth2設定
REDIRECT_URI=http://localhost:3000/auth/callback
# guilds+identify
AUTH_URL=
# 問い合わせ関連チャンネル設定
INQUIRY_CHANNEL_ID=
INQUIRY_CATEGORY_ID=

# 管理者ロール
ADMIN_ROLE_ID=